{% extends 'dashboard.html' %}
{% block addcss %}

{% endblock %}
{% block content %}


<form method="POST">
    <div class="one">
        <h3>update Notes</h3>
        <label>Title</label>
        <input type="text" name="title" value="{{notesdata[1]}}" placeholder="Enter the title"><br>
        <label>Description</label>
        <input type="text1" name="desc" value="{{notesdata[2]}}" placeholder="Enter Description"><br><br>
        <button class="btn1">Submit</button>
    </div>
</form>


{% endblock content %}